# Python virtual environments and site-packages
venv/
# **/venv/
# **/venv_*/

# Node modules
node_modules/
**/node_modules/

# OS/editor files
.DS_Store
# .env
# .env.*
*.log

# Build and cache
dist/
build/
.cache/
**/__pycache__/
*.pyc
 /Authentication/
 /data_loader.log

# User added
FakeNewsBackend/cache/
FakeNewsBackend/environments/cache/
FakeNewsBackend/data_loader.log
*.dylib
*.so
*.pkl

node_modules
node_modules
node_modules
